* {
  position: relative;
}

html, body {
  padding: 0;
  margin: 0;
  background-color: #293B29;
}

.container {
  margin: 0 auto;
  width: 1280px;
  height: 800px;
  background-color: #293B29;
}

.clock {
  z-index: 0;
  width: 350px;
  height: 350px;
  position: absolute;
  left: 465px;
  top: 225px;
  background-image: url(https://i.imgur.com/zYfl03U.png);
  background-position: 50% 50%;
}

.dot {
  z-index: 11;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: black;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.hand {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0%);
  transform-origin: 0 0;
  border-radius: 25%;
}

#hour_hand {
  z-index: 10;
  width: 3px;
  height: 72px;
  background-color: white;
}

#minute_hand {
  z-index: 9;
  width: 3px;
  height: 96px;
  background-color: orange;
}

#second_hand {
  z-index: 8;
  width: 3px;
  height: 126px;
  background-color: green;
}